In [1]:
import pandas as pd
import numpy as np 


people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

df=pd.DataFrame(people)
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [2]:
df.dropna() #Ova funkcija uklanja sve NaN redove

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [3]:
df.dropna(axis='index', how='any') # Acis nam odredjuje red ili kolonu,  index predstavlja red 
#how nas pita kako cemo, ocemo li da uklonimo sve redove/kolone dje fale sva polja, ili mozemo da upisemo any da ukloni redak kojem fali bar jedno polje

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [4]:
#Dobili smo isto, a npr da stavimo
df.dropna(axis='columns', how='any')
# U svaku kolonu nesto fali pa necemo dobit nista

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [5]:
df.dropna(axis='index', how='all', subset=['last', 'email'])
# Ako na primjer napisemo ovako, to znaci da cemo uzimati u obzir samo kolonu last i email, pa ako u obje nedostaje, nece prikaati taj red
#U ovom slucaju ni u jednom redu ne nedostaju oba polja pa ce tabela ostati netaknuta 
#Da sam stavio how="any", uklonili bi se redovi gdje fali makar jedno polje iz kolona last i email

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [6]:
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)
#Ovaj postupak je koristan kada želite čistiti podatke od određenih oznaka koje označavaju nedostajuće vrijednosti ili nepoznate informacije, 
#pretvarajući ih u standardnu reprezentaciju NaN koju pandas koristi za označavanje nedostajućih vrijednosti.

In [7]:
df.isna()
'''Na primjer, ako imate DataFrame df, poziv df.isna() će vratiti DataFrame istih dimenzija, gdje će
 True označavati da je odgovarajuća vrijednost u originalnom DataFrame-u NaN, a False označava da vrijednost nije NaN.'''

'Na primjer, ako imate DataFrame df, poziv df.isna() će vratiti DataFrame istih dimenzija, gdje će\n True označavati da je odgovarajuća vrijednost u originalnom DataFrame-u NaN, a False označava da vrijednost nije NaN.'

In [8]:
df.fillna(0) #Zamjenice sva polja koja fale sa nulom

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63
3  Chris  Schafer                        0  36
4      0        0                        0   0
5      0        0      Anonymous@email.com   0
6      0        0                        0   0

In [9]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [10]:
#Vidimo da je age ustvari string a nama treba broj da bi mogli manipulisati sa tom kolonom
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Sto znaci da prvo trebamo da pretvorimo broj godina u int ili float
df['age'] = df['age'].astype(float)
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [ ]:
#Sad imamo float i mozemo da nadjemo srednju vrijednost
df['age'].mean()

46.75

In [12]:
#Zarad vjezbe unijecemo CSV fajl 

df1=pd.read_csv("C:/Users/Korisnik/Desktop/DataAnalyst/Python/Podaci-za-analizu/Anketa-2023/survey_results_public.csv",index_col='ResponseId')
df_schem=pd.read_csv("C:/Users/Korisnik/Desktop/DataAnalyst/Python/Podaci-za-analizu/Anketa-2023/survey_results_schema.csv")
#Responsled smo podesili kao index

df1.head()

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [ ]:
#Zelimo da nadjemo prosjek godina, svi brojevi su object, sto znaci da ih moramo pretvoriti u float
df1['YearsCode'].head(10)

0    NaN
1     18
2     27
3     12
4      6
5     21
6      4
7      5
8     20
9      6
Name: YearsCode, dtype: object

In [ ]:
df1['YearsCode'] = df1['YearsCode'].astype(float)
#Ovdje imamo problem, jer u ostatku ankete imamo less then one year, sto znaci da ta mjesta moramo mijenjati sa drugim vrijednostima
#Pa hajde da vidimo koje sve vrijednosti imamo

ValueError: could not convert string to float: 'Less than 1 year'

In [ ]:
df1['YearsCode'].unique() #Pokazuje koje sve vrijednosti imamo
#Znaci da stringove moramo zamijeniti brojevima

array([nan, '18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

In [ ]:
df1['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df1['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [ ]:
df1['YearsCode'].unique() #Sada mi trebalo da je sve okej

array([nan, '18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 0, '16', '33', '22', '30', '32', '7',
       '35', '28', '40', '17', '29', '19', 51, '9', '38', '26', '34',
       '25', '2', '45', '23', '31', '43', '1', '48', '41', '50', '39',
       '42', '37', '36', '44', '46', '49', '47'], dtype=object)

In [ ]:
#Sad cemo sve pretvoriti u float
df1['YearsCode'] = df1['YearsCode'].astype(float)

In [ ]:
#Zatim naci sr vrijednost i medijanu
df1['YearsCode'].mean()

13.966855378281009

In [ ]:
#I naci medijanu
df1['YearsCode'].median()

11.0